@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    background-image: url("images/BackgroundChoose.png");
    -webkit-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}

#introduction #logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    opacity: 0;
}

.animlogo {
    animation-duration: 3000ms;
    animation-name: introduction-logo;
}

@keyframes introduction-logo {
    from {
        width: 0;
        opacity: 0;
    }

    to {
        width: 25rem;
        opacity: 1;
    }
}

.poslogo {
    animation-duration: 2000ms;
    animation-name: position-logo;
}

@keyframes position-logo {
    from {
        width: 25rem;
        top: 50%;
    }

    to {
        width: 15rem;
        top: 7%;
    }
}

#start {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.laptop {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    opacity: 0;
    max-width: 70vh;
    max-height: 50vh;
}

.animlaptop {
    animation-duration: 3000ms;
    animation-name: introduction-laptop;
}

@keyframes introduction-laptop {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animbutton {
    animation-duration: 3000ms;
    animation-name: introduction-button;
}

@keyframes introduction-button {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.laptop img {
    max-width: 90%;
    height: auto;
}

#start button {
    border: 2px solid #08AEEA;
    border-radius: 100px;
    background-color: transparent;
    padding: 0.8em 6em;
    font-size: 1em;
    font-weight: 600;
    color: #1c1c1c;
    transition: all 300ms;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

#start button:hover {
    background-image: linear-gradient(90deg, #08AEEA 0%, #3bf5bf 100%);
    color: white;
    transform: scale(1.1);
    border-color: white;
}

p {
    font-style: italic;
    margin-bottom: 0;
    text-align: center;
}